@media screen and (min-width: 768px) {

  .header__logo {
    margin-top: 142px;
    width: 315px;
    height: 69px;
  }

  .login-form__title {
    font-size: 2.4rem;
  }

  .login-form__text-input--email {
    margin-top: 48px;
  }

  .login-form__text-input--password {
    margin-top: 32px;
  }

  .login-form__error {
    margin-top: 32px;
    font-size: 1.4rem;
    padding: 1em 1.15em;
  }
  
  .user-profile__avatar {
    width: 128px;
    height: 128px;
  }

  .user-profile__name {
    font-size: 2.8rem;
    margin-top: 40px;
  }

  .button--login {
    margin-top: 60px;
    margin-bottom: 12px;
  }

  .button--logout {
    margin-top: 56px;
  }
}