html {
  font-family: Gotham, sans-serif;
  min-height: 100vh;
  font-size: 10px;
}

body {
  background-color: #ed4159;
  background-image: url(../img/background.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.page-container {
  padding: 0px 16px;
  max-width: 600px;
  margin: 0 auto;
}

.header__logo {
  display: block;
  width: 182px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 43px;
  margin-bottom: 37px;
}

.login-form, .user-profile {
  border-radius: 0.8em;
  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.15);
  background-color: white;
  padding: 3.2em 2.4em;
}

.login-form__title {
  opacity: 0.8;
  font-size: 2rem;
  line-height: 1.2;
  text-align: center;
  color: #262626;
}

.login-form__text-input {
  display: block;
  width: 100%;
  border-radius: 0.25em;
  background-color: #f1f1f1;
  border: solid 1px transparent;
  padding: 0.87em 1em;
  font-size: 1.6rem;
  font-weight: 500;
  color: rgba(38, 38, 38, 0.8);
  outline: none;
}

.login-form__text-input::placeholder {
  color: rgba(38, 38, 38, 0.4);
}

.login-form__text-input:focus {
  border-color: rgba(151, 151, 151, 0.25);
}

.login-form__text-input--invalid,
.login-form__text-input--invalid:focus {
  color: #ed4159;
  border-color: #ed4159;
}

.login-form__text-input--invalid::placeholder {
  color: rgba(237, 65, 89, 0.8);
}

.login-form__text-input--email {
  margin-top: 32px;
}

.login-form__text-input--password {
  margin-top: 24px;
}

.login-form__error {
  margin-top: 24px;
  border-radius: 0.3em;
  background-color: rgba(237, 65, 89, 0.25);
  font-size: 1.2rem;
  font-weight: 500;
  color: #ed4159;
  padding: 1.2em;
}

.user-profile__avatar {
  width: 86px;
  height: 86px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.user-profile__name {
  opacity: 0.8;
  font-size: 1.8rem;
  letter-spacing: 0.15px;
  text-align: center;
  color: #262626;
  display: block;
  margin-top: 24px;
}

.button {
  display: block;
  outline: none;
  border: 0;
  padding: 1.15em 2.3em;
  border-radius: 1.55em;
  box-shadow: 0 4px 16px 0 rgba(237, 65, 89, 0.4);
  background-color: #ed4159;
  font-size: 1.4rem;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
}

.button:hover,
.button:focus {
  cursor: pointer;
  box-shadow: 0 6px 20px 0 rgba(237, 65, 89, 0.4);
  background-color: #ffffff;
  color: #ed4159;
}

.button:active {
  box-shadow: 0 2px 10px 0 rgba(237, 65, 89, 0.5);
  background-color: #ffffff;
  color: #ed4159;
}

.button--login {
  min-width: 10.4em;
  margin: 40px auto 24px auto;
}

.button--logout {
  min-width: 10.4em;
  margin: 40px auto 24px auto;
}
